    
<form class="form-inline input-text-btn-ctn">
  <div class="form-group text">
    <input class="form-control" placeholder="lieu, date..." type="text" name="client[email]" id="client_email">
  </div>
  <div>
    <input type="submit" name="commit" value="Rechercher" class="btn btn-primary" data-disable-with="Envoyer">
  </div>
</form>
