<div class="section index-blog-section-1">
  <h1>Ça bouge chez <span class="span-orange">Art Zeppelin</span></h1>
  <div class="index-blog-section-1-filters-ctn">
    <div class="index-blog-section-1-filters-btn-ctn">
      <a href="#" class="filter-btn">Artiste</a>
      <a href="#" class="filter-btn">Réalisation</a>
      <a href="#" class="filter-btn">Événement</a>
      <a href="#" class="filter-btn">Autres</a>
    </div>
    <%= render 'search' %>
  </div>
</div>
<div class="section index-blog-section-2">
  <div id="blogs">
    <%= render partial: 'articles', locals: { blogs: @blogs } %>
  </div>
  <% if @blogs.count > 5 %>
    <div class="card">
      <div class="card-body d-flex justify-content-center" id="paginate">
        <%= paginate @blogs, remote: true %>
      </div>
    </div>
  <% end %>
</div>
