<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>AZ</title>

    <link href="style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
</head>

<body>
    <div class="section">
        <nav id="header">
            <div class="logo-burger-ctn">
                <img src="img/logo-header.png" alt="" class="header-logo">
                <div class="burger-btn">
                    <svg id="burger-open" xmlns="http://www.w3.org/2000/svg" width="30" height="27" viewBox="0 0 15.296 14">
                        <g id="Groupe_611" data-name="Groupe 611" transform="translate(-10.257 -5.5)">
                            <path id="Tracé_1154" data-name="Tracé 1154" d="M5717.2,6130.607h15.3" transform="translate(-5706.94 -6124.107)" fill="none" stroke="#000" stroke-width="2"/>
                            <path id="Tracé_1155" data-name="Tracé 1155" d="M5717.2,6130.607h15.3" transform="translate(-5706.94 -6118.107)" fill="none" stroke="#000" stroke-width="2"/>
                            <path id="Tracé_1156" data-name="Tracé 1156" d="M5717.2,6130.607h15.3" transform="translate(-5706.94 -6112.107)" fill="none" stroke="#000" stroke-width="2"/>
                        </g>
                    </svg>
                    <svg id="burger-close" xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 13.66 13.659">
                        <g id="Groupe_612" data-name="Groupe 612" transform="translate(-11.079 -6.078)">
                          <path id="Tracé_1154" data-name="Tracé 1154" d="M0,0H17.317" transform="translate(11.786 6.786) rotate(45)" fill="none" stroke="#000" stroke-width="2"/>
                          <path id="Tracé_1156" data-name="Tracé 1156" d="M0,0H17.317" transform="translate(11.786 19.03) rotate(-45)" fill="none" stroke="#000" stroke-width="2"/>
                        </g>
                    </svg>
                </div>
            </div>

            <div class="header-links-ctn">
                <div class="header-ddown-ctn">
                    <a href="#" class="header-link header-ddown-link">
                        Offres
                        <svg xmlns="http://www.w3.org/2000/svg" width="17.678" height="17.678" viewBox="0 0 17.678 17.678">
                            <path id="Tracé_1153" data-name="Tracé 1153" d="M11,11H0V0" transform="translate(1.061 7.778) rotate(-45)" fill="none" stroke="#000" stroke-width="2"/>
                        </svg>
                    </a>
                    <div class="header-ddown-ctt">
                        <a href="#" class="header-ddown-ctt-link">Pour les artistes</a>
                        <a href="#" class="header-ddown-ctt-link">Pour les entreprises</a>
                    </div>
                </div>

                <a href="#" class="header-link">Articles</a>
                <a href="#" class="header-link">Artistes</a>
                <a href="#" class="header-link">Réalisations</a>
                <a href="#" class="header-link">Contact - FAQ</a>
            </div>
        </nav>
    </div>

    <div class="main">
        <div class="section">
            <div class="col-ctn">
                <div class="fill one-quarter"></div>
                <div class="fill one-quarter"></div>
                <div class="fill one-quarter"></div>
                <div class="fill one-quarter"></div>
            </div>
            <div class="col-ctn">
                <div class="fill one-quarter"></div>
                <div class="fill one-quarter"></div>
                <div class="fill one-half"></div>
            </div>
            <div class="col-ctn">
                <div class="fill one-quarter"></div>
                <div class="fill three-quarter"></div>
            </div>
            <div class="col-ctn">
                <div class="fill one-half"></div>
                <div class="fill one-half"></div>
            </div>
            <div class="col-ctn">
                <div class="fill one-third"></div>
                <div class="fill one-third"></div>
                <div class="fill one-third"></div>
            </div>
            <div class="col-ctn">
                <div class="fill one-third"></div>
                <div class="fill two-third"></div>
            </div>
            <div class="col-ctn">
                <div class="fill two-third"></div>
                <div class="fill one-third"></div>
            </div>
        </div>

        <div class="section">
            <h1>L'<span class="span-orange">art</span> s'invite dans vos locaux</h1>
            <h2>Ça bouge chez <span class="span-orange">ART ZEPPELIN</span> !</h2>
            <p>Les artistes aux savoir-faire variés conceptualisent des espaces inspirants propices au bien-être et aux échanges.<br>
                Notre double expertise, artistique et commerciale, vous accompagne de la conception à la réalisation d’œuvres d'art qui reflètent votre vision, mission et identité.
            </p>
            <p class="p-bold">Nous choisissons avec un soin particulier nos artistes selon une approche prenant en compte à la fois expérience mais aussi style et technique.</p>
            <a href="#">Ceci est un lien</a>
            <hr>
        </div>

        <div class="section">
            <p class="p-bold">Nous choisissons avec un soin particulier nos artistes selon une approche prenant en compte à la fois expérience mais aussi style et technique.</p>
        </div>

        <div class="section">
            <a href="#" class="button">Button 1</a>
            <p class="tag">#tableau</p>
        </div>

        <div class="section">
            <input type="text" id="name" name="name" placeholder="Message">

            <div class="input-text-btn-ctn">
                <input type="text" id="name" name="name" placeholder="Message">
                <div>
                    <input type="button">
                    <svg class="input-btn-arrow" xmlns="http://www.w3.org/2000/svg" width="30" height="28" viewBox="0 0 33.115 23.682">
                        <g id="Groupe_195" data-name="Groupe 195" transform="translate(0 1.394)">
                          <path id="Tracé_504" data-name="Tracé 504" d="M30.189,0H0" transform="translate(30.189 10.416) rotate(180)" fill="none" stroke="#fff" stroke-width="4"/>
                          <path id="Tracé_505" data-name="Tracé 505" d="M10.154,0,0,10.447,10.154,20.894" transform="translate(30.326 20.894) rotate(180)" fill="none" stroke="#fff" stroke-width="4"/>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="input-text-btn-ctn">
                <input type="text" id="name" name="name" placeholder="Message">
                <div>
                    <input type="button">
                    <svg class="input-btn-search" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 22.202 22.492">
                        <g id="Groupe_156" data-name="Groupe 156" transform="translate(-1615.404 -1274.351)">
                          <g id="Ellipse_39" data-name="Ellipse 39" transform="translate(1615.404 1274.351)" fill="none" stroke="#fff" stroke-width="3">
                            <circle cx="9" cy="9" r="9" stroke="none"/>
                            <circle cx="9" cy="9" r="7" fill="none"/>
                          </g>
                          <path id="Tracé_489" data-name="Tracé 489" d="M3935.836,1297.214l7.411,7.411" transform="translate(-2307.056 -9.197)" fill="none" stroke="#fff" stroke-width="3"/>
                        </g>
                    </svg>
                </div>
            </div>
        </div>

        <div class="section">
            <a class="index-article-ctn col-ctn">
                <img class="one-quarter" src="img/img.png" alt="">
                <div class="index-article-text-ctn">
                    <h3>Article name</h3>
                    <hr class="index-article-hr">
                    <p class="index-article-text">ebtrytjhgd sdvfbenry jnbfvdwfbej rbfvsdf benr jyrhbvd betnh jy5yhrb evsbehtr</p>
                </div>
            </a>
        </div>

        <div class="section">
            <div class="col-ctn">
                <a href="#" class="index-artist-ctn one-half">
                    <img src="img/img.png" alt="">
                    <div class="index-artist-text-ctn">
                        <div>
                            <h3 class="index-artist-name">Susanne Strassmann</h3>
                            <hr class="index-artist-hr">
                            <p class="index-artist-description">ebtrytjhgd sdvfbenry jnbfvdwfbej rbfvsdf benr jyrhbvd betnh jy5yhrb evsbehtr</p>
                        </div>
                        <div class="index-artist-tag-ctn">
                            <p class="index-artist-tag">#Tableau</p>
                            <p class="index-artist-tag">#Fresque</p>
                        </div>
                    </div>
                    <div class="index-artist-fill-ctn"></div>
                </a>
                <a href="#" class="index-artist-ctn one-half">
                    <img src="img/img.png" alt="">
                    <div class="index-artist-text-ctn">
                        <div>
                            <h3 class="index-artist-name">Susanne Strassmann</h3>
                            <hr class="index-artist-hr">
                            <p class="index-artist-description">ebtrytjhgd sdvfbenry jnbfvdwfbej rbfvsdf benr jyrhbvd betnh jy5yhrb evsbehtr</p>
                        </div>
                        <div class="index-artist-tag-ctn">
                            <p class="index-artist-tag">#Tableau</p>
                            <p class="index-artist-tag">#Fresque</p>
                        </div>
                    </div>
                    <div class="index-artist-fill-ctn"></div>
                </a>
            </div>
        </div>

        <div class="section">
            <img src="img/icon - 1.png" alt="" class="icon">
            <img src="img/icon - 2.png" alt="" class="icon">
            <img src="img/icon - 3.png" alt="" class="icon">
            <img src="img/for-picto-1.svg" alt="" class="icon">
            <img src="img/for-picto-2.svg" alt="" class="icon">
            <img src="img/for-picto-3.svg" alt="" class="icon">
            <img src="img/for-picto-4.svg" alt="" class="icon">
            <img src="img/for-picto-5.svg" alt="" class="icon">
            <img src="img/for-picto-6.svg" alt="" class="icon">
            <img src="img/img-corporate.png" alt="" class="full-width-img">
            <img src="img/img-artworks.png" alt="" class="full-width-img">
            <img src="img/img-artist.png" alt="" class="full-width-img">
            <img src="img/logo-contact.png" alt="">
        </div>
    </div>

    <div class="section">
        <div class="crsl-ctn">
            <div class="crsl-all-img-ctn">
                <div class="crsl-img-ctn">
                    <img src="img/img.png" alt="" class="crsl-img">
                </div>
                <div class="crsl-img-ctn">
                    <img src="img/img.png" alt="" class="crsl-img">
                </div>
                <div class="crsl-img-ctn">
                    <img src="img/img.png" alt="" class="crsl-img">
                </div>
                <div class="crsl-img-ctn">
                    <img src="img/img.png" alt="" class="crsl-img">
                </div>
                <div class="crsl-img-ctn">
                    <img src="img/img.png" alt="" class="crsl-img">
                </div>
            </div>

            <div class="crsl-controls">
                <svg class="crsl-prev" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36" height="35" viewBox="0 0 36 35">
                    <defs>
                      <clipPath id="clip-Index_8">
                        <rect width="36" height="35"/>
                      </clipPath>
                    </defs>
                    <g id="Index_8" data-name="Index – 8" clip-path="url(#clip-Index_8)">
                      <rect width="36" height="35" fill="#fff"/>
                      <g id="Groupe_614" data-name="Groupe 614" transform="translate(-5817.75 -6010)">
                        <rect id="Rectangle_228" data-name="Rectangle 228" width="36" height="35" transform="translate(5817.75 6010)" fill="#fa4616"/>
                        <path id="Tracé_1157" data-name="Tracé 1157" d="M0,0,8.86,8.86,0,17.72" transform="translate(5839.361 6036.632) rotate(180)" fill="none" stroke="#fff" stroke-width="3"/>
                      </g>
                    </g>
                  </svg>
                  
                <svg class="crsl-next" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36" height="35" viewBox="0 0 36 35">
                    <defs>
                      <clipPath id="clip-Index_9">
                        <rect width="36" height="35"/>
                      </clipPath>
                    </defs>
                    <g id="Index_9" data-name="Index – 9" clip-path="url(#clip-Index_9)">
                      <rect width="36" height="35" fill="#fff"/>
                      <g id="Groupe_614" data-name="Groupe 614" transform="translate(-5817.75 -6010)">
                        <rect id="Rectangle_228" data-name="Rectangle 228" width="36" height="35" transform="translate(5817.75 6010)" fill="#fa4616"/>
                        <path id="Tracé_1157" data-name="Tracé 1157" d="M0,0,8.86,8.86,0,17.72" transform="translate(5832.5 6018.912)" fill="none" stroke="#fff" stroke-width="3"/>
                      </g>
                    </g>
                  </svg>
            </div>
        </div>
    </div>
</body>
</html>