<div class="section contact-section-1">
  <div class="contact-ctn">
    <div class="contact-btns-ctn">
      <div>Informations</div>
      <div>Formulaire</div>
      <div>FAQ</div>
      <div>Newsletter</div>
    </div>
    <div class="contact-panels-ctn">
      <div class="contact-panel-1">
        <%= image_tag("logo-contact.png", alt: "", class: "contact-info-logo") %>
        <div class="contact-panel-1-text-ctn">
          <h1>Art Zeppelin</h1>
          <hr>
          <div>
            <%= image_tag("icons/email.svg", alt: "", class: "email-picto") %>
            <p>contact@artzeppelin.com</p>
          </div>
          <div>
            <%= image_tag("icons/mobile.svg", alt: "", class: "telephone-picto") %>
            <p>+ 33 (0)7 70 00 40 34</p>
          </div>
          <div>
            <%= image_tag("icons/location-pin.svg", alt: "", class: "location-picto") %>
            <p>
              382 B rue de Picquenard<br>
              78630 Orgeval
            </p>
          </div>
        </div>
      </div>

      <div class="contact-panel-2">
        <p>Pour nous écrire, c'est&nbsp;par&nbsp;ici&nbsp;!</p>
        <input class="form-control" placeholder="Nom" type="text" name="client[email]" id="client_email">
        <input class="form-control" placeholder="Prénom" type="text" name="client[email]" id="client_email">
        <input class="form-control" placeholder="Email" type="text" name="client[email]" id="client_email">
        <textarea></textarea>
        <input type="submit" name="commit" value="Rechercher" class="btn btn-primary" data-disable-with="Envoyer">
        </form>
      </div>

      <div class="contact-panel-3">
        <p class="p-bold">1°Pourquoi rejoindre Art Zeppelin ?</p>
        <p>Nous rejoindre c’est la possibilité de réaliser des projets en lien avec votre démarche artistique, selon vos disponibilités.</p>
        <p class="p-bold">2°Quels sont les pré-requis pour rejoindre Art Zeppelin ? </p>
        <p>Nous privilégions la maîtrise d’un savoir-faire, n’hésitez pas à nous faire parvenir votre book à l’addresse mail artistes@artzeppelin.com.</p>
        <p class="p-bold">3°J’expose via une galerie, est-ce un problème ?</p>
        <p>Non, sauf si vous êtes lié par une clause d’exclusivité, ce qui n’est pas le cas chez nous.</p>
        <p class="p-bold">4°Comment est estimé le prix d’un projet ?</p>
        <p>Le prix d’un projet varie en fonction de l’expérience de l’artiste, de l’ampleur du projet, des moyens et du temps requis à sa réalisation.</p>
        <p class="p-bold">5°Comment se déroulent vos projets ?</p>
        <p>Nous sommes ravis de vous communiquer notre brochure par retour de mail.</p>
        <p class="p-bold">6°Comment déduire la valeur des œuvres acquises de mon résultat imposable ? </p>
        <p>Nous vous invitons à consulter la page dédiée en cliquant ici.</p>
        <p class="p-bold">7°Dans quel pays êtes vous présents ? </p>
        <p>Art Zeppelin réalise des projets en France Métropolitaine pour l’instant.</p>
        <p class="p-bold">8°Comment contacter le service client ?</p>
        <p>Nous vous invitons à remplir le formulaire de contact ci dessous ou appeler les numéros indiqués.</p>
      </div>

      <div class="contact-panel-4">
        <h2>Ça bouge chez <span class="span-orange">Art&nbsp;Zeppelin</span></h2>
        <p class="p-bold">Inscrivez-vous à notre Newsletter pour rester au courant</p>

        <form class="form-inline input-text-btn-ctn" action="/clients" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="dxg7C5ju1ennDjjA46AOSdOnCJDFqGx+fRQvVWDACgAb30gU0Sj/ScQCGdarhDlGqf50zzwbVDmticnWWkAFcA==">
          <div class="form-group text">
            <input class="form-control" placeholder="Votre email" type="text" name="client[email]" id="client_email">
          </div>
          <div>
            <input type="submit" name="commit" value="Envoyer" class="btn btn-primary" data-disable-with="Envoyer">
          </div>
        </form>        
      </div>
    </div>
  </div>
</div>


<script>
  const contactBtns = document.querySelectorAll('.contact-btns-ctn>div');
  const contactPanels = document.querySelectorAll('.contact-panels-ctn>div');

  function updateContactPanel(i) {
    for (let y = 0; y < contactPanels.length; y++) {
      contactPanels[y].style.display = "none";
    }
    if(i == 2) {contactPanels[i].style.display = "block";}
    else {contactPanels[i].style.display = "flex";}
  }
  
  for (let i = 0; i < contactBtns.length; i++) {
    contactBtns[i].addEventListener('click', function() {updateContactPanel(i)}, false);
  }
</script>