<div class="page-title-ctn">
    <img src="https://images.pexels.com/photos/3047316/pexels-photo-3047316.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="" class="page-title-img">
    <h1 class="h1-page-title">Investir dans l’art, c’est s’engager pour la culture</h1>
</div>

<div class="main">
    <h4 class="deductions-intro">En France, les entreprises bénéficient pour ce faire d’avantages fiscaux. L’acquisition d’oeuvres originales, d’artistes vivants, peut être déduite du résultat de l’exercice d’acquisition et des quatre années suivantes, par fractions égales, une somme égale au prix d’acquisition (sous réserve que l’oeuvre soit exposée à la vue des salariés ou du public).</h4>
    <p class="deductions-details">Retrouvez tout le détail en cliquant sur l’article 238 bis AB: Article 238 bis AB Modifié par Loi n°2005-1720 du 30 décembre 2005 – art. 70 JORF 31 décembre 2005</p>
    <p class="deductions-text">Les entreprises qui achètent, à compter du 1er janvier 2002, des oeuvres originales d’artistes vivants et les inscrivent à un compte d’actif immobilisé peuvent déduire du résultat de l’exercice d’acquisition et des quatre années suivantes, par fractions égales, une somme égale au prix d’acquisition. La déduction ainsi effectuée au titre de chaque exercice ne peut excéder la limite mentionnée au premier alinéa du 1 de l’article 238 bis, minorée du total des versements mentionnés au même article. Pour bénéficier de la déduction prévue au premier alinéa, l’entreprise doit exposer dans un lieu accessible au public ou aux salariés, à l’exception de leurs bureaux, le bien qu’elle a acquis pour la période correspondant à l’exercice d’acquisition et aux quatre années suivantes. L’entreprise doit inscrire à un compte de réserve spéciale au passif du bilan une somme égale à la déduction opérée en application du premier alinéa. Cette somme est réintégrée au résultat imposable en cas de changement d’affectation ou de cession de l’oeuvre ou de l’instrument ou de prélèvement sur le compte de réserve. L’entreprise peut constituer une provision pour dépréciation lorsque la dépréciation de l’oeuvre excède le montant des déductions déjà opérées au titre des premier à quatrième alinéas.</p>
    <%= link_to "Lien vers l’article 238 bis AB", "https://www.legifrance.gouv.fr/affichCodeArticle.do?idArticle=LEGIARTI000006303974&cidTexte=LEGITEXT000006069577", :class => "deductions-link"%>
    <p class="deductions-contact-1">Vous avez une question sur les démarches à suivre ?</p>
    <p class="deductions-contact-2">Nous sommes à votre disposition: contact@artzeppelin.com</p>
</div>
