<div class="for-artists-section-1">
  <h1>Découvrez nos <span class="span-orange">artistes</span></h1>
  <div class="index-section-2-pictos-ctn">
    <div>
      <%= image_tag("icons/icon - 1.png", alt: "art-zeppelin-index-icon") %>
      <h3>Inspirez vos équipes</h3>
    </div>
    <div>
      <%= image_tag("icons/icon - 2.png", alt: "art-zeppelin-index-icon") %>
      <h3>Consolidez votre image</h3>
    </div>
    <div>
      <%= image_tag("icons/icon - 3.png", alt: "art-zeppelin-index-icon") %>
      <h3>Avantages fiscaux</h3>
    </div>
</div>
</div>

<div class="for-artists-section-2">

</div>

<div class="for-artists-section-3">

</div>

<div class="for-artists-section-4">

</div>