<div class="page-title-ctn">
    <img src="https://images.pexels.com/photos/3047316/pexels-photo-3047316.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="" class="page-title-img">
    <h1 class="h1-page-title">Pour les artistes</h1>
</div>

<div class="main">
    <div class="picto-main-ctn picto-forartists-ctn">
        <div class="picto-ctn">
            <% image_tag("https://images.pexels.com/photos/3047316/pexels-photo-3047316.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260", alt: "", class: "picto") %>
            <h3 class="h3-picto">TEST ES TESTES TEST ES</h3>
        </div>
        <div class="picto-ctn">
            <% image_tag("https://images.pexels.com/photos/3047316/pexels-photo-3047316.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260", alt: "", class: "picto") %>
            <h3 class="h3-picto">TEST ES TESTES TEST ES</h3>
        </div>
        <div class="picto-ctn">
            <% image_tag("https://images.pexels.com/photos/3047316/pexels-photo-3047316.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260", alt: "", class: "picto") %>
            <h3 class="h3-picto">TEST ES TESTES TEST ES</h3>
        </div>
        <div class="picto-ctn">
            <% image_tag("https://images.pexels.com/photos/3047316/pexels-photo-3047316.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260", alt: "", class: "picto") %>
            <h3 class="h3-picto">TEST ES TESTES TEST ES</h3>
        </div>
    </div>

    <div class="page-btn-ctn">
        <button class="btn-lg btn-primary mx-3">Détail des étapes</button>
        <button class="btn-lg btn-primary mx-3">Déductions fiscales</button>
    </div>

    <p class="p-index">
        La présence de l’art au sein des entreprises se développe progressivement et séduit tous les secteurs, c’est un excellent moyen de transformer les espaces de façon innovante. Cultiver la notion de plaisir au travail est un moyen pertinent de créer un sentiment d’appartenance et de cohésion de groupe au sein de votre entreprise.<br>
        Nos experts accompagnent votre réflexion stratégique lors du choix de l’artiste-auteur pour mettre en valeur votre environnement professionnel. En effet, notre sélection d’artistes partenaires présente de multiples styles et techniques qui conviendront à l’image et aux valeurs de votre entreprise. La présence d’art contribue au maintien et au renforcement de vos relations commerciales. C’est dans un environnement accueillant et chaleureux que vos clients et partenaires se projettent, Art Zeppelin met à votre disposition l’ensemble de ses connaissances et compétences pour que cela soit chez vous, dans vos locaux.
    </p>

    <div class="for-cards-ctn">
        <div class="half-for-card">
            <%= image_tag("logo-art-zeppelin.svg", alt: "logo-art-zeppelin", class: "for-card-img") %>
            <p class="p-for-card">tignero tgerf 4tgref4grf t4grf t4grf t4grvfwederv4tb vrcw rvgt tignero tgerf 4tgref4grf t4grf t4grf t4grvfwederv4tb vrcw rvgt tignero tgerf 4tgref4grf t4grf t4grf t4grvfwederv4tb vrcw rvgt tignero tgerf 4tgref4grf t4grf t4grf t4grvfwederv4tb vrcw rvgt</p>
        </div>
        <div class="half-for-card">
            <%= image_tag("logo-art-zeppelin.svg", alt: "logo-art-zeppelin", class: "for-card-img") %>
            <p class="p-for-card">tignero tgerf 4tgref4grf t4grf t4grf t4grvfwederv4tb vrcw rvgt tignero tgerf 4tgref4grf t4grf t4grf t4grvfwederv4tb vrcw rvgt tignero tgerf 4tgref4grf t4grf t4grf t4grvfwederv4tb vrcw rvgt tignero tgerf 4tgref4grf t4grf t4grf t4grvfwederv4tb vrcw rvgt</p>
        </div>
    </div>

    <div class="page-btn-ctn">
        <button class="btn-lg btn-primary mx-3">Nos réalisations</button>
        <button class="btn-lg btn-primary mx-3">Nos artistes</button>
        <button class="btn-lg btn-primary mx-3">Nous contacter</button>
    </div>
    
</div>


<script>

</script>