/* Custom CSS ########################################################## */
/* ##################################################################### */


/* ############ General Layout */

/* ######## Variables */
:root {
	/* ######## Main layout variables */
    --main-px: 11vw;
	--main-px-both: calc(var(--main-px)*2);
	--main-px-small: 5vw;
	--main-px-small-both: calc(var(--main-px)*2);

	--main-my-0: 3vh;
    --main-my-1: 7vh;
	--main-my-2: 12vh;
	
	/* ######## Columns variables */
	--col-px: 20px;
	--col-px-both: calc(var(--col-px)*2);

	/* ######## Color variables */
	--main-color: #fa4616;
	--dark-color: #000;
	--lignt-color: #fff;

	/* ######## Font variables */
	--title-font:'Saira Extra Condensed', Arial, Helvetica, sans-serif;
	--text-font:'Muli', Arial, Helvetica, sans-serif;
	
	/* ######## Header variables */
	--header-height: 120px;
	--header-py: 30px;
	--header-py-both: calc(var(--header-py)*2);

	/* ######## Carousel variables */
	--crsl-height: 80vh;
	--crsl-width: 100vw;
	--crsl-img-mx: calc(var(--crsl-width)/2);
}

/* ######## HTML/body Layout */
html,body {
	margin: 0;
	width: 100vw;
	height: 100%;
	overflow-x: hidden;
}

/* ######## Text Layout */
p,h1,h2,h3,h4,h5,h6,ul,li,a,strong {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1 {
	font-size: calc(40px + 3vw);
	font-weight: 400;
	text-transform: uppercase;
	line-height: 2.6ch;
}
h2 {
	font-size: 60px;
	font-weight: 500;
	line-height: 3ch;
}
.span-orange{
	color: var(--main-color);
}

p,h1,h2,h3,h4,h5,h6,a {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,a {
	font-family: var(--title-font);
	color: var(--dark-color);
}

p,ul,li,a,strong {
	font-family: var(--text-font);
	font-size: 16px;
	font-weight: 400;
	color: var(--dark-color);
}

.p-bold {
	font-weight: 700;
}
a {
	font-family: var(--title-font);
	font-weight: 400;
	font-size: 36px;
	color: #000;
	text-decoration: underline;
}

/* ######## Layout elements */
.section {
	width: 100vw;
	padding: 0 var(--main-px);
    overflow: hidden;
}
@media screen and (max-width:800px) {
	.section {
		height: auto !important;
		margin: 60px 0;
		overflow: visible;
		padding: 0 var(--main-px-small);
	}
}

hr {
	border: 1px solid var(--main-color);
	width: 33.333333%;
	text-align:left;
	margin: 0 auto 0 0;
}
.fill {
	background-color : #000;
	min-height: 20px;
}

/* ######## Header */
#header {
	height: 60px;
	width: calc(100vw - var(--main-px-both));
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	padding: var(--header-py) var(--main-px);
	box-sizing: content-box;
}
.logo-burger-ctn {
	width: 0px;
}
.header-logo {
	height: 100%;
	width: auto;
}
.burger-btn {
	display: none;
	cursor: pointer;
}
#burger-open {
	opacity: 1;
	transition: opacity 0.4s;
}
#burger-close {
	opacity: 0;
	transition: opacity 0.4s;
}
.header-links-ctn {
	display: flex;
	align-items: center;
}
.header-link {
	font-family: 'Saira Extra Condensed';
	font-size: 32px;
	margin-left: 3vw;
	text-decoration: none;
	white-space: nowrap;
}
.header-ddown-ctn {
	position: relative;
}
.header-ddown-link {
	display: flex;
	white-space: nowrap;
}
.header-ddown-link svg{
	margin: 17px 0 0 9px;
}
.header-ddown-ctt{
	display: none;
	opacity: 0;
	position: absolute;
	top: calc(var(--header-py) + var(--header-py));
	left: 0;
	background-color: #fff;
}
.header-ddown-ctt-active{
	display:flex;
	animation: ddown-show 1s ease forwards;
}
@keyframes ddown-show {
	0% {opacity:0;}
	100% {opacity:1;}
}
.header-ddown-ctt-inactive{
	display:none;
}
.header-ddown-ctt-link {
	font-size: 28px;
	padding: 0 0 0 30px;
	white-space: nowrap;
	text-decoration: none;
}
.header-ddown-ctt-link:first-child {
	font-size: 28px;
	padding: 0 0 0 3vw;
	position: relative;
}
.header-ddown-ctt-link:first-child:after {
	display: block;
	content:'';
	position: absolute;
	height: 2px;
	width: 330px;
	background-color: #000;
	top: 0;
	left: 3vw;
}
@media screen and (max-width: 1000px) {
	#header {
		height: 45px;
		width: calc(100vw - var(--main-px-both));
		background-color: #fff;
		display: flex;
		justify-content: space-between;
		padding: var(--header-py) var(--main-px);
	}
	.header-link {
		font-size: 28px;
		margin-left: 3vw;
		text-decoration: none;
		white-space: nowrap;
	}
	.header-ddown-link svg{
		margin: 12px 0 0 9px;
	}
}
@media screen and (max-width: 800px) {
	#header {
		height: auto;
		width: calc(100vw - var(--main-px-both));
		background-color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: var(--header-py) var(--main-px);
	}
	.logo-burger-ctn {
		width: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
	}
	.header-logo {
		width: 200px;
		height: auto;
	}
	.burger-btn {
		display: flex;
		align-items: center;
		position: relative;
		height: 27px;
		width: 30px
	}
	.burger-btn svg{
		position: absolute;
	}
	#burger-close {
		transform: translateX(2px);
	}
	.header-links-ctn {
		display: none;
		flex-direction: column;
		align-items: flex-start;
		display: none;
	}
	.header-links-ctn-active {
		display: flex;
	}
	.header-link {
		font-size: 28px;
		margin-left: 0;
		text-decoration: none;
		white-space: nowrap;
	}
	.header-ddown-link svg{
		margin: 12px 0 0 9px;
	}
	.header-ddown-ctt{
		position: relative;
		top: 0;
	}
	.header-ddown-ctt-link:first-child {
		padding: 0;
	}
	.header-ddown-ctt-link:first-child:after {
		left: 0;
	}
}
/* ######## Buttons */
.button {
	padding: 8px 34px 12px;
	text-decoration: none;
	transition: all 0.3s
}
.button:hover {
	background-color: #eee;
	transition: all 0.3s
}

/* ######## Tags */
.tag {
	font-size: 25px;
	display: inline-block;
	padding: 3px 20px 4px;
	color: #fff;
	background-color: #fa4616;
	border-radius: 30px;
}

/* ######## Inputs */
.input-text-btn-ctn {
	align-items: flex-end;
}
.form-group {
	margin-bottom: 0;
}
.form-group input[type='text'] {
	margin-bottom: 0;
	max-width: 300px;
}
/* ######## Index article */
.index-article-ctn {
	display: flex;
	height: 200px;
	border: 2px solid #000;
	flex-wrap: nowrap;
	transition: all 0.3s;
	cursor: pointer;
}
a.index-article-ctn, a.index-article-ctn:hover {
	text-decoration: none;
}
.index-article-ctn:hover {
	transform: scale(1.03);
	transition: all 0.3s
}
.index-article-ctn:hover .index-article-text-ctn h3 {
	color: var(--main-color);
}
.index-article-ctn img {
	height: 100%;
	object-fit: cover;
	margin: 0;
}
@media screen and (max-width:1000px) {
	.index-article-ctn img {
		display: none;
	}
}
.index-article-text-ctn {
	padding: 13px 30px;
}
.index-article-text-ctn h3 {
	font-size: 40px;
	font-weight: 400;
}
.index-article-hr {
	border: 1px solid #000;
	margin: 5px 0 20px;
}

/* ######## Index artist */
.index-artist-ctn {
	height: 400px;
	position: relative;
}
a.index-artist-ctn, a.index-artist-ctn:hover {
	text-decoration: none;
}
.index-artist-ctn:hover .index-artist-fill-ctn, 
.index-artist-ctn:hover .index-artist-text-ctn{
	opacity:1;
	transition: all 0.5s;
}
.index-artist-fill-ctn {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--main-color);
	opacity: 0.2;
	transition: all 0.5s;
}
.index-artist-ctn img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
}
.index-artist-text-ctn {
	height: calc(100% - 60px);
	position: relative;
	padding: 20px 30px;
	z-index: 10;
	opacity: 0;
	transition: all 0.3s;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.index-artist-name {
	color: #fff;
	font-size: 40px;
	font-weight: 400;
	text-decoration: none;
}
.index-artist-hr {
	width: 100%;
	border: 1px solid #fff;
	margin: 10px 0 20px;
}
.index-artist-description{
	color: #fff;
	text-decoration: none;
}
.index-artist-tag-ctn {
	display: flex;
}
.index-artist-tag {
	color: #fff;
	margin: 0 14px 0 0;
}


/* ######## Images */
.full-width-img {
	width: 100vw;
	margin-left: calc(var(--main-px) * -1)
}
.icon {
	height: 140px;
	width: auto;
}

/* ######## Carousels */
.crsl-ctn {
	width: var(--crsl-width);
	height: var(--crsl-height);
	display: flex;
	align-items: center;
	position: relative;
}
.crsl-all-img-ctn {
	width: var(--crsl-width);
	height: var(--crsl-height);
	display: flex;
	align-items: center;
	position: relative;
	transition: all 1s ease-in-out;
}
.crsl-img-ctn {
	height: 1px;
	width: 0px;
	margin-right: var(--crsl-img-mx);
	display: flex;
	justify-content: center;
	align-items: center;
}
.crsl-img {
	width: 40vw;
	height: var(--crsl-height);
	object-fit: contain;
	transition: all 1s ease-in-out;
}
.crsl-controls {
	position: absolute;
	width: 100vw;
	display: flex;
	justify-content: space-between;
}
.crsl-prev {
	margin-left: 30px;
	cursor: pointer;
}
.crsl-next {
	margin-right: 30px;
	cursor: pointer;
}



/* Pages Layout ######################################################## */
/* ##################################################################### */


/* ############ Index */

/* Index section 1 */
.index-section-1 {
	height: calc(100vh - var(--header-height));
	display: flex;
	justify-content: center;
	align-items: center;
}
.index-section-1>div {
	display: flex;
	width: 100%;
	transform: translateY(-2vh);
}

.index-section-1-text-ctn {
	width: 65%;
	margin-left: 7vw;
}
.index-section-1-text-ctn>hr {
	margin: 20px 0;
}

.index-section-1-img {
	width: 35%;
	object-fit: contain;
}

@media screen and (max-width: 800px) {
	.index-section-1-text-ctn {
		width: 100%;
		margin: 0;
	}
	.index-section-1>div {
		transform: translateY(-5vh);
	}
	.index-section-1-img {
		display: none;
	}
}

/* Index section 2 */
.index-section-2 {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.index-section-2-pictos-ctn {
	display: flex;
	width: 100%;
	justify-content: space-around;
}
.index-section-2-pictos-ctn>div {
	width: 30%;
}
@media screen and (max-width: 800px) {
	.index-section-2-pictos-ctn{
		display: block;
	}
	.index-section-2-pictos-ctn>div {
		width: 100%;
	}
}
.index-section-2-pictos-ctn>div>img {
	width: 100%;
	height: 200px;
	object-fit: contain;
	transform: scale(0.5);
}
@media screen and (max-width: 800px) {
	.index-section-2-pictos-ctn>div>img {
		transform: scale(0.5) translateY(50px);
	}
}
.index-section-2-pictos-ctn>div>h3 {
	width: 100%;
	text-align: center;
	font-size: 30px;
	font-weight: 400;
}
.index-section-2>hr {
	width: 100%;
	text-align: center;
	margin: 60px 0;
}
.index-section-2-links-ctn {
	display: flex;
	margin-top: 40px;
}
.index-section-2-links-ctn>a {
	margin-right: 40px;
}
@media screen and (max-width: 800px) {
	.index-section-2-links-ctn{
		display: block;
	}
}

/* Index section 3 */
.index-section-3 {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 800px) {
	.index-section-3 {
		margin: 120px 0;
	}
}
.index-section-3>a {
	text-decoration: underline;
	text-align: center;
}
.index-section-3>hr {
	width: 100%;
	text-align: center;
	margin: 60px 0;
}

/* Index section 4 */
.index-section-4 {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@media screen and (max-width: 800px) {
	.index-section-4 {
		margin: 120px 0;
	}
}
.index-section-4>h2 {
	text-align: center;
	margin-bottom: 20px;
}
.index-section-4>p {
	text-align: center;
	margin-bottom: 70px;
}


/* Index section 5 */
.index-section-5 {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.index-section-5>p {
	text-align: center;
	margin-bottom: 60px;
}
.index-section-5>img {
	height: 130px;
	width: 130px;
	object-fit: contain;
}

/* ############ Pour les artistes / For artists */

/* Index section 1 */