/* Post-Bootstrap CSS ################################################## */
/* ##################################################################### */


/* ############ General Layout */

/* ######## Variables */
:root {
    --page-x-padding: 6vw;
    --page-x-padding-both: calc(var(--page-x-padding)*2);

    --margin-top-r0: 3vh;
    --margin-top-r1: 7vh;
    --margin-top-r2: 12vh;
}


/* ######## Layout */
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
strong {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'libre baskerville';
}

p,
ul,
li,
a,
strong,
a {
    font-family: 'Trebuchet MS';
}

p {
    font-size: 18px;
}


/* ######## Layout elements */
.main {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;

    padding: 0 var(--page-x-padding);
    overflow: hidden;
}

