/* Post-Bootstrap CSS ################################################## */
/* ##################################################################### */


/* ############ General Layout */

/* ######## Variables */
:root {
    --page-x-padding: 6vw;
    --page-x-padding-both: calc(var(--page-x-padding)*2);
  
    --margin-top-r0: 3vh;
    --margin-top-r1: 7vh;
    --margin-top-r2: 12vh;
  }
  
  
  /* ######## Layout */
  p,h1,h2,h3,h4,h5,h6,ul,li,a,strong {
      -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  p,h1,h2,h3,h4,h5,h6,a{
      margin: 0;
      padding: 0;
  }
  h1,h2,h3,h4,h5,h6 {
      font-family: 'libre baskerville';
  }
  p,ul,li,a,strong,a {
    font-family: 'Trebuchet MS';
  }
  p {
    font-size: 18px;
  }
  
  
  /* ######## Layout elements */
  .main {
      width: 100vw;
      min-width: 100vw;
      max-width: 100vw;
  
      padding: 0 var(--page-x-padding);
      overflow: hidden;
  }
  
  .main-cards-decoration {
    border-left: 2px solid #fa4616;
    border-right: 2px solid #fa4616;
    position: relative;
  }
  .main-cards-decoration::before {
    content: '';
    display: block;
    background-color: #fa4616;
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0;
    left: 0;
    transition: 0.5s;
  }
  .main-cards-decoration::after {
    content: '';
    display: block;
    background-color: #fa4616;
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    right: 0;
    transition: 0.5s;
  }
  .main-cards-decoration:hover::before {
    content: '';
    display: block;
    background-color: #fa4616;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    transition: 0.5s;
  }
  .main-cards-decoration:hover::after {
    content: '';
    display: block;
    background-color: #fa4616;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    right: 0;
    transition: 0.5s;
  }
  .main-cards-decoration {
    border-left: 2px solid #fa4616;
    border-right: 2px solid #fa4616;
  }
  
  /* ######## Navbar */
  nav {
    width: 100vw;
    position: fixed !important;
    top:0;
    left:0;
    z-index: 100;
    padding: 12.25px var(--page-x-padding) !important;
    box-shadow: 0 0 50px #00000010;
  }
  @media screen and (max-width: 992px) {
    nav {
      padding: 18.75px var(--page-x-padding) !important;
    }
  }
  .navbar-logo {
    width: 120px;
  }
  .navbar-nav {
      margin-left: auto !important;
  }
  .nav-link {
    font-size: 20px;
    margin-left: 20px;
  }
  @media screen and (max-width: 992px) {
    .nav-link {
      margin-left: 0;
    }
  }
  @media screen and (min-width: 992px) {
    .dropdown-menu {
      transform: translateY(10px);
    }
  }
  .for-cards-ctn {
    width: 100%;
    margin: 0 0 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (max-width: 1000px ) {
    .for-cards-ctn {
      flex-direction: column;
    }
  }
  .h2-for-cards {
    width: 100%;
    text-align: center;
    margin: 0 0 var(--margin-top-r1);
  }
  .half-for-card {
    flex: 1;
    min-width: 300px;
    box-shadow: 0 5px 50px #00000012;
  }
  .half-for-card:first-child {
    margin: 0 0 0 0;
  }
  .half-for-card:last-child {
    margin: 0 0 0 30px;
  }
  @media screen and (max-width: 1000px ) {
    .half-for-card:first-child  {
      margin: 0 0 var(--margin-top-r1) 0;
    }
    .half-for-card:last-child {
      margin: 0 0 var(--margin-top-r1) 0;
    }
  }
  .h3-for-card {
    width: 100%;
    text-align: center;
    margin: 30px 0 20px;
  }
  .for-card-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .h5-for-card {
    padding: 2vw 2vw 0;
  }
  .p-for-card {
    padding: 2vw 2vw 3vw;
  }
  #dropdownMenuButton:hover {
    color: #fa4616 !important;
  }
  
  .navbar-placeholder{
    height: 70.5px;
  }
  
  /* ######## Footer */
  footer {
    width: 100vw;
    background-color: #000;
    padding: var(--page-x-padding);
    margin: var(--margin-top-r1) 0 0;
  }
  
  /* ######## Page Title */
  .page-title-ctn {
    width: 100vw;
    position: relative;
    padding: 10vh var(--page-x-padding);
  }
  .page-title-img {
    height: 100%;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .h1-page-title {
    position: relative;
    z-index: 10;
    padding: 0 3vw;
    background-color: #fffe;
    display: inline-block;
    line-height: calc(50px + 5vw);
    font-size: calc(18px + 1.8vw);
  }
  
  /*  #########  Sorting / Filters / Tags ########  */
  .project-sorting-ctn {
      width: 100%;
      margin: var(--margin-top-r1) 0 var(--margin-top-r1);
  }
  .sorting-btns-ctn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 5vw;
  }
  @media screen and (max-width: 700px) {
      .sorting-btns-ctn{
          padding: 0;
          justify-content: flex-start;
      }
  }
  .sorting-btns-ctn h3{
      color: #fa4616;
      font-size: 16px;
    padding: 12px 15px;
    margin: 0 10px 10px 0;
      font-weight: 500;
    cursor: pointer;
    font-family: "trebuchet MS";
    background-color: #fff;
    border: 2px solid #fa4616;
  }
  @media screen and (max-width: 700px) {
      .sorting-btns-ctn h3{
          font-size: 16px;
          height:40px;
          padding: 2px 14px;
          display: flex;
      align-items: center;
      }
  }
  h3.portfolio-filter-active {
    background-color: #fa4616;
      color: #fff;
    transition: all 0.3s;
    font-family: "trebuchet MS"
  }
  
  /* ######## Page Button Container */
  .page-btn-ctn {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 80px;
  }
  @media screen and (max-width: 700px) {
    .page-btn-ctn {
      flex-direction: column;
    }
    .page-btn-ctn>* {
      margin: 0 0 12px;
      text-align: center;
    }
  }
  
  
  /* ####################### */
  /* ############ Index Page */
  
  /* ######## Index Layout */
  .p-index {
    margin: 0 0 80px;
    padding: 4vw 6vw;
    box-shadow: 0 0 50px #00000012;
  }
  
  .index-video-ctn {
    height: calc(100vh - 70.5px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .index-video {
    height: calc(100vh - 70.5px);
    width: 100vw;
    object-fit: cover;
  }
  .index-video-ctn h1 {
    position: absolute;
    padding: 2vw 4vw;
    color: #333;
    font-family: 'Libre Baskerville', serif;
    font-size: 4.5vw;
    background-color: #fffd;
  }
  
  /* ######## Intro */
  .h2-index-intro {
      width: 100%;
      margin: var(--margin-top-r1) 0;
      padding: 4vw 6vw;
  
      font-family: "Trebuchet MS";
      text-align: center;
      font-size: calc(14px + 0.5vw);
      line-height: 1.3em;
      background-color: #fff;
      box-shadow: 0 0 50px #00000012;
  
      outline: 2px solid #333;
      outline-offset: -15px;
  }
  
  /* ######## Pictos */
  
  .picto-main-ctn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    margin: var(--margin-top-r2) 0 var(--margin-top-r0);
  }
  .picto-ctn {
    padding: 1.5vw 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width : calc(250px + 6vw);
    margin: 0 10px 20px;
    box-shadow: 0 0 50px #00000012;
  }
  .picto {
    width: 150px;
    object-fit: cover;
    margin: 0 0 20px;
  }
  .h3-picto {
    font-size: calc(14px + 0.4vw);
    text-align: center;
  }
  .p-picto {
    margin: 15px 0 0;
    font-size: 17px;
    text-align: center;
  }
  .picto-link {
    color: #fa4616;
    text-decoration: underline;
  }
  
  /* ######## For artists / companies */
  .artistes-entreprises-ctn {
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
  }
  @media screen and (max-width:800px) {
    .artistes-entreprises-ctn {
      flex-direction: column;
    }
  }
  .for-artists, .for-companies {
    box-sizing: border-box;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 0 60px #00000020;
  }
  @media screen and (max-width:800px) {
    .artistes-entreprises-ctn {
      height: 80vh;
    }
  }
  .for-artists h3, .for-companies h3 {
    font-family: "libre baskerville";
    font-size: calc(22px + 1.5vw);
    text-align: center;
    color: #fa4616;
    transition: 0.5s ease;
  }
  .for-companies {
    transform: scale(0.92) translateX(-0.9vw);
  }
  .for-artists{
    transform: scale(0.92) translateX(0.9vw);
  }
  .for-artists-link {
    color: #fa4616;
    text-decoration: underline;
  }
  @media screen and (max-width:800px) {
    .for-companies, .for-artists{
      transform: scale(0.92);
    }
  }
  .ac-picto-ctn {
  position: absolute;
  }
  .ac-picto {
    position: relative;
    transition: 0.5s ease;
    }
  .ac-picto img{
    height: 200px;
    width: 200px;
    position: absolute;
  }
  @media screen and (max-width:800px) {
    .ac-picto-ctn{
      display: none;
    }  
  }
  .ac-a {top: -80px;left: -80px;}
  .ac-b {top: -80px;right: 160px;}
  .ac-c {bottom: 120px;left: -80px;}
  .ac-d {bottom: 120px;right: 120px;}
  .ac-e {top: -90px;left: -90px;}
  .ac-f {top: -90px;right: 140px;}
  .ac-g {bottom: 120px;left: -60px;}
  .ac-h {bottom: 120px;right: 120px;}
  
  .ac-picto-pos-correction-1 {
    transform: translateX(15px);
  }
  .ac-picto-pos-correction-2 {
    transform: translateX(10px);
  }
  
  /* ##### For artists / companies animation */
  .for-artists:hover:hover, .for-companies:hover:hover {
    box-shadow: inset 0 0 60px #fa461630;
    transition: 0.5s ease;
  }
  .for-artists:hover h3, .for-companies:hover h3 {
    transform: scale(1.05);
    transition: 0.5s ease;
  }
  .for-artists:hover .ac-picto-ctn .ac-picto, .for-companies:hover .ac-picto-ctn .ac-picto {
    transform: scale(0.9) rotate(-10deg);
    transition: 0.5s ease;
  }
  
  /* ######## Team */
  .team-main-ctn {
    background-color: #fff;
    box-shadow: 0 0 50px #00000012;
    margin: var(--margin-top-r1) 0 var(--margin-top-r1) ;
    padding: 4vw 2vw;
  }
  .h2-team {
    width: 100%;
    text-align: center;
    font-size: calc(24px + 1vw);
    margin: 0 0 var(--margin-top-r1);
  }
  .team-cards-ctn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width : 220px;
    margin: 0 20px 30px;
  }
  .team {
    width: calc(150px + 2vw);
    object-fit: cover;
    margin: 0 0 20px;
  }
  .h3-team {
    font-size: calc(18px + 0.5vw);
    font-family: "libre baskerville";
    margin: 10px 0 0; 
    text-align: center;
  }
  .p-team {
    font-size: 20px;
    margin: 8px 0 0; 
    text-align: center;
  }
  .index-outro {
    background-color: #fff;
    box-shadow: 0 0 50px #00000012;
    margin: var(--margin-top-r1) 0 var(--margin-top-r1) ;
    padding: 4vw 6vw;
  }
  
  
  /* ######################################### */
  /* ############ For Artists / Companies Pages */
  .for-btn {
    font-size: 30px;
    font-weight: 600;
  }
  .for-btn:hover {
    text-decoration: none;
    transition: 0.2s;
  }
  
  /* ######### For Artists Page */
  .picto-forartists-ctn .picto-ctn{
    height: 280px;
    width: 250px;
  }
  
  /* ######### For Companies Page */
  
  
  
  /* ################################ */
  /* ############ Index articles Page */
  .index-articles-grid *{
    transition: 0.2s;
  }
  .index-articles-grid:hover *{
    transition: 0.2s;
    text-decoration: none;
  }
  .index-article-ctn {
    height: 200px;
    display: flex;
    margin: 0 0 var(--margin-top-r1);
    box-shadow: 0 0 50px #00000012;
  }
  @media screen and (max-width: 740px) {
    .index-article-ctn {
      height: auto;
      flex-direction: column;
    }
  }
  .index-article-img {
    flex: 1;
    object-fit: cover;
    max-height: 200px;
  }
  .index-article-text {
    flex: 3;
    padding: 20px;
  }
  .h3-index-article {
  
  }
  .description-index-article {
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .date-index-article {
  
  }
  .index-article-ctn *{
    text-decoration: none !important;
  }
  .index-article-ctn p{
    color: #000 !important;
  }
  .index-article-ctn p:hover{
    color: #000 !important;
  }
  
  /* ############################## */
  /* ############ Show Article Page */
  
  .article-img {
    width: 100%;
    height: 40vh;
    margin-top: var(--margin-top-r1);
    object-fit: cover;
  }
  .h2-article {
  margin-top: var(--margin-top-r1);
  }
  .article-date {
  
  }
  .article-description {
    margin-bottom: var(--margin-top-r2);
  }
  
  /* ################################ */
  /* ############ Index Artworks Page */
  
  :root {
    --artworks-grid-gap: 10px;
    --artworks-grid-gap-double: calc(var(--artworks-grid-gap) * 2)
  }
  #carousel-1 {
    height: calc(100vh - 70.5px);
  }
  .carousel-item img {
    overflow: hidden;
    height: calc(100vh - 70.5px);
    object-fit: cover;
  }
  .index-artworks-grid {
    display: flex;
    flex-wrap: wrap;
  }
  .index-artwork-img {
    width: calc(33.33333333% - ((var(--artworks-grid-gap) * 4) / 3));
    height: 200px;
    object-fit: cover;
    cursor: pointer;
  }
  .index-artwork-img:nth-child(3n-2) {
    margin: 0 var(--artworks-grid-gap) var(--artworks-grid-gap-double) 0;
  }
  .index-artwork-img:nth-child(3n-1) {
    margin: 0 var(--artworks-grid-gap) var(--artworks-grid-gap-double);
  }
  .index-artwork-img:nth-child(3n) {
    margin: 0 0 var(--artworks-grid-gap-double) var(--artworks-grid-gap);
  }
  @media screen and (max-width: 1120px) {
    .index-artwork-img {
      width: calc(50% - var(--artworks-grid-gap));
    }
    .index-artwork-img:nth-child(odd) {
      margin: 0 var(--artworks-grid-gap) var(--artworks-grid-gap-double) 0;
    }
    .index-artwork-img:nth-child(even) {
      margin: 0 0 var(--artworks-grid-gap-double) var(--artworks-grid-gap);
    }
  }
  @media screen and (max-width: 800px) {
    .index-artwork-img {
      width: 100%;
      margin: var(--artworks-grid-gap) 0 !important;
    }
  }
  .artworks-index-quote {
    background-color: #fa4616;
  }
  .quote {
    color: #fff;
    font-size: calc(20px + 1vw);
    font-style: italic;
    text-align: center;
    line-height: 28px;
  }
  .quote-2 {
    color: #fff;
    font-size: 18px;
  }
  
  /* ######### Index Artworks Blackbox */
  .artworks-blackbox-ctn {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000099;
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
  }
  .artworks-blackbox {
    height: 80vh;
    width: 80vw;
  }
  
  
  /* ############################### */
  /* ############ Index Artists Page */
  
  :root {
    --artists-grid-gap: 10px;
    --artists-grid-gap-double: calc(var(--artists-grid-gap) * 2)
  }
  
  .index-artists-grid {
    display: flex;
    flex-wrap: wrap;
  }
  .index-artists-ctn {
    width: calc(33.33333333% - ((var(--atistss-grid-gap) * 4) / 3));
    height: 300px;
    cursor: pointer;
    position: relative;
  }
  .index-artists-img {
    width: 100% !important;
    margin: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .index-artists-ctn {
    width: calc(50% - var(--artists-grid-gap));
  }
  .index-artists-ctn:nth-child(odd) {
    margin: 0 var(--artists-grid-gap) var(--artists-grid-gap-double) 0;
  }
  .index-artists-ctn:nth-child(even) {
    margin: 0 0 var(--artists-grid-gap-double) var(--artists-grid-gap);
  }
  @media screen and (max-width: 800px) {
    .index-artists-ctn {
      width: 100%;
      margin: var(--artists-grid-gap) 0 !important;
    }
  }
  
  .index-artists-hover {
    width: 100% !important;
    margin: 0 !important;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    color: #fff;
    background-color: #fa4616EE;
  
    opacity: 0;
  }
  .index-artists-hover:hover {
    width: 100% !important;
    margin: 0 !important;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    color: #fff;
    background-color: #fa4616EE;
  
    opacity: 1;
    transition: 0.6s;
  }
  .h3-index-artist-medium {
    margin-top: 15px
  }
  
  /* ############################## */
  /* ############ Show Artists Page */
  
  .artist-description {
    margin: 0 0 var(--margin-top-r0);
  }
  .artist-text {
    margin: 0 0 var(--margin-top-r1);
  }
  .artist-contact-btn {
    margin: 0 0 var(--margin-top-r1);
  }
  .artist-tags-ctn {
   display: flex;
   flex-wrap: wrap;
   margin: var(--margin-top-r1) 0 0;
  }
  .artist-tag {
    padding: 7px 18px;
    border-radius: 25px;
    background-color: #fa4616;
    color: #fff;
    margin: 0 8px var(--margin-top-r1);
   }
  
  /* ############################ */
  /* ############ Deductions Page */
  
  .deductions-intro {
    margin: var(--margin-top-r2) 0 var(--margin-top-r1);
  }
  .deductions-details {
    margin: 0 0 var(--margin-top-r1);
  }
  .deductions-text {
    margin: 0 0 var(--margin-top-r1);
  }
  .deductions-link {
  }
  .deductions-contact-1 {
    margin: var(--margin-top-r0) 0 0;
  }
  .deductions-contact-2 {
    margin: 0 0 var(--margin-top-r1);
  }
  
  /* ######################### */
  /* ############ Contact Page */
  
  .contact-title-ctn {
    margin: 0 0 var(--margin-top-r2);
  }
  .contact-title-1-2-ctn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 40px;
  }
  @media screen and (max-width: 720px) {
    .contact-title-1-2-ctn {
      justify-content: center;
    }
  }
  .contact-title-1, .contact-title-2, .contact-title-3 {
    margin: 0 15px;
  }
  .contact-title-1, .contact-title-2 {
    background-color: #fffe;
    padding: 2vw;
  }
  .contact-title-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
    z-index: 10;
    min-width: 300px;
  }
  @media screen and (max-width: 720px) {
    .contact-title-1 {
      display: none;
    }
  }
  .contact-title-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex: 3;
    z-index: 10;
  }
  .contact-title-2 h4{
    font-size: calc(13px + 0.9vw);
    margin: 0 0 var(--margin-top-r0);
  }
  @media screen and (max-width: 720px) {
    .contact-title-2 {
      align-items: center;
      padding: 30px 0;
    }
    .contact-title-2 h4{
      text-align: center;
    }
  }
  .contact-title-2 h4:last-child{
    margin:0 0 0;
  }
  .contact-title-3 {
    margin: 0 0 0;
    position: relative;
    z-index: 10;
    min-width: 80px;
    display: flex;
    justify-content: center;
  }
  .contact-title-picto {
    max-height: 70px;
    margin: 0 20px;
  }
  /* ######### Contact Tabs */
  .contact-tab-pane {
    padding: 40px;
  }